AI Customer Support Bot.json
{
  "name": "AI Customer Support Bot",
  "nodes": [
    {
      "parameters": {
        "formTitle": " Customer Support",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Your Question"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -384,
        0
      ],
      "id": "d095f585-03e8-464d-b28c-6fb45a7260b3",
      "name": "On form submission",
      "webhookId": "3555e08e-7746-4a94-bd34-f76fa8c49645"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "daff3bce-590f-4d23-89be-c1e35c07f86a",
              "name": "prompt",
              "value": "=You are a professional customer support agent. A customer named {{ $('On form submission').item.json['Your Name'] }} has asked: {{ $('On form submission').item.json['Your Question'] }}. Provide a helpful, professional and friendly response.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        0
      ],
      "id": "35794eaa-69f1-41df-9f5b-d4cbc890e2cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        0
      ],
      "id": "d7d7602b-ad65-4aff-aaa5-4d54caa5e6b3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZSWD7joGl9Ky23rSpUMIWW0NsTlh-VDZsLzEzax9aN8",
          "mode": "list",
          "cachedResultName": "Customer Support",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZSWD7joGl9Ky23rSpUMIWW0NsTlh-VDZsLzEzax9aN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZSWD7joGl9Ky23rSpUMIWW0NsTlh-VDZsLzEzax9aN8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json['Your Name'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Question": "={{ $('On form submission').item.json['Your Question'] }}",
            "Date": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        0
      ],
      "id": "1e674ecd-89c6-4416-a01e-d8d65a62d67e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fAGq0SYzPr1XI5gW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Response to your support request",
        "message": "=Hi {{ $('On form submission').item.json['Your Name'] }}, thank you for contacting us. Here is our response: {{ $('HTTP Request').item.json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        512,
        0
      ],
      "id": "f32f223c-8e26-470a-990d-9e87d07782e9",
      "name": "Send a message",
      "webhookId": "1a6e78a7-27ff-4b98-8b48-449a94539e58",
      "credentials": {
        "gmailOAuth2": {
          "id": "BzBSG6lf3XLRw0Vy",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7618e25b-80cc-4286-9027-e40cf118750d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bd52121447317257c6175a866599be36f5dd1967c9b7432de9a1a5e794301e0"
  },
  "nodeGroups": [],
  "id": "3CClNivPmzf91rLb",
  "tags": []
}