Email Follow-up System.json
{
  "name": "Email Follow-up System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3b593e9d-c284-490f-b5b0-b7529bd6485f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G2pIw0ZR29WSnHhSzfg_HmWWbTIEKo5kXxycswwEDW8",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G2pIw0ZR29WSnHhSzfg_HmWWbTIEKo5kXxycswwEDW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G2pIw0ZR29WSnHhSzfg_HmWWbTIEKo5kXxycswwEDW8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "e25b128f-7ace-46d9-99d6-85123c8e76c7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fAGq0SYzPr1XI5gW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Following up with you!",
        "message": "=Hi {{ $json.Name }}, I wanted to follow up with you. We would love to help you. Please reply to this email or call us at your convenience.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "24d3607d-96c5-40eb-9d10-e55cec4c400a",
      "name": "Send a message",
      "webhookId": "45e0e92b-3751-4630-8a23-6bc827186a8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "BzBSG6lf3XLRw0Vy",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6fb11666-bbbd-4e4f-8eb5-cd3eb0f0ea9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bd52121447317257c6175a866599be36f5dd1967c9b7432de9a1a5e794301e0"
  },
  "nodeGroups": [],
  "id": "yqGx6qRpLmFwgMIG",
  "tags": []
}